In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/gender_submission.csv
/kaggle/input/titanic/test.csv

In [2]:
X = pd.read_csv('/kaggle/input/titanic/train.csv')
X_test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [3]:
X['Survived'].dropna(axis =0, inplace=True)
y = X.Survived
X.drop(columns='Survived', inplace=True)

In [4]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, random_state = 1)

In [5]:
X.count()
# Age, cabin and embarked have missing data

PassengerId    891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [6]:
import matplotlib.pyplot as plt

In [7]:
features = ['Pclass', 'Sex', 'Age', 'Parch', 'SibSp']

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [9]:
def get_score(n_est, X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=n_est)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    mae = mean_absolute_error(y_valid, preds)
    return mae, preds

In [10]:
new_X_train = pd.get_dummies(X_train[features])
new_X_valid = pd.get_dummies(X_valid[features])

In [11]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()

imp_new_X_train = pd.DataFrame(imputer.fit_transform(new_X_train))
imp_new_X_valid = pd.DataFrame(imputer.transform(new_X_valid))

imp_new_X_train.columns = new_X_train.columns
imp_new_X_valid.columns = new_X_valid.columns

In [12]:
for x in range(50,450, 50):
    mae, preds = get_score(x, imp_new_X_train, imp_new_X_valid, y_train, y_valid)
    print(f'The mean absolute error for {x} trees: {mae}')

The mean absolute error for 50 trees: 0.2619555694582177
The mean absolute error for 100 trees: 0.26044580452565097
The mean absolute error for 150 trees: 0.26516634622691115
The mean absolute error for 200 trees: 0.2650280660948464
The mean absolute error for 250 trees: 0.26350919699011194
The mean absolute error for 300 trees: 0.2653670232149194
The mean absolute error for 350 trees: 0.26493764923780616
The mean absolute error for 400 trees: 0.26451660720811904

In [13]:
imp_new_X_train

     Pclass        Age  Parch  SibSp  Sex_female  Sex_male
0       1.0  42.000000    0.0    1.0         0.0       1.0
1       3.0  30.073682    0.0    1.0         0.0       1.0
2       1.0  49.000000    0.0    1.0         0.0       1.0
3       1.0  19.000000    0.0    1.0         1.0       0.0
4       1.0  19.000000    0.0    1.0         0.0       1.0
..      ...        ...    ...    ...         ...       ...
663     3.0  19.000000    0.0    0.0         0.0       1.0
664     3.0  30.500000    0.0    0.0         1.0       0.0
665     2.0  21.000000    0.0    0.0         0.0       1.0
666     3.0  30.073682    0.0    0.0         1.0       0.0
667     3.0  21.000000    0.0    0.0         0.0       1.0

[668 rows x 6 columns]

In [14]:
imp_new_X_valid

     Pclass        Age  Parch  SibSp  Sex_female  Sex_male
0       1.0  48.000000    0.0    0.0         1.0       0.0
1       3.0  30.073682    0.0    0.0         0.0       1.0
2       2.0  17.000000    0.0    0.0         1.0       0.0
3       3.0  30.073682    0.0    0.0         1.0       0.0
4       2.0   7.000000    2.0    0.0         1.0       0.0
..      ...        ...    ...    ...         ...       ...
218     2.0  33.000000    2.0    0.0         1.0       0.0
219     1.0  56.000000    0.0    0.0         0.0       1.0
220     1.0  30.073682    0.0    0.0         0.0       1.0
221     3.0  30.073682    0.0    0.0         0.0       1.0
222     1.0  52.000000    0.0    0.0         0.0       1.0

[223 rows x 6 columns]

In [15]:
y_train

35     0
46     0
453    1
291    1
748    0
      ..
715    0
767    0
72     0
235    0
37     0
Name: Survived, Length: 668, dtype: int64

In [16]:
X.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [17]:
# try to get it better, things I'll try and change: how to impute

In [18]:
new_X = X.copy()

In [19]:
new_X.Pclass = new_X.Pclass.astype('str')

In [20]:
new_X[features]

    Pclass     Sex   Age  Parch  SibSp
0        3    male  22.0      0      1
1        1  female  38.0      0      1
2        3  female  26.0      0      0
3        1  female  35.0      0      1
4        3    male  35.0      0      0
..     ...     ...   ...    ...    ...
886      2    male  27.0      0      0
887      1  female  19.0      0      0
888      3  female   NaN      2      1
889      1    male  26.0      0      0
890      3    male  32.0      0      0

[891 rows x 5 columns]

In [21]:
X_train, X_valid, y_train, y_valid = train_test_split(new_X, y)

In [22]:
oh_X_train = pd.get_dummies(X_train[features])
oh_X_valid = pd.get_dummies(X_valid[features])

In [23]:
imp_new_X_train = pd.DataFrame(imputer.fit_transform(oh_X_train))
imp_new_X_valid = pd.DataFrame(imputer.transform(oh_X_valid))

imp_new_X_train.columns = oh_X_train.columns
imp_new_X_train.columns = oh_X_train.columns

In [24]:
oh_X_train.columns

Index(['Age', 'Parch', 'SibSp', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Sex_female', 'Sex_male'],
      dtype='object')

In [25]:
imp_new_X_train

,Age,Parch,SibSp,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male
0,38.00000,0.0,1.0,1.0,0.0,0.0,0.0,1.0
1,28.00000,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,29.71222,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,29.71222,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,27.00000,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
663,15.00000,1.0,0.0,1.0,0.0,0.0,1.0,0.0
664,0.83000,2.0,0.0,0.0,1.0,0.0,0.0,1.0
665,54.00000,0.0,1.0,1.0,0.0,0.0,1.0,0.0
666,29.71222,0.0,0.0,0.0,0.0,1.0,0.0,1.0
667,29.71222,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [26]:
get_score(350, imp_new_X_train, imp_new_X_valid, y_train, y_valid)

(0.27405181048130883,
 array([9.76003543e-02, 1.00000000e+00, 1.00000000e+00, 2.28571429e-01,
        1.31428571e-01, 1.00000000e+00, 9.76003543e-02, 4.67619048e-02,
        1.00000000e+00, 1.00000000e+00, 1.00000000e+00, 1.00000000e+00,
        4.04727891e-02, 8.42326118e-01, 1.03476190e-01, 5.91428571e-01,
        4.84733251e-01, 3.26789116e-01, 1.00000000e+00, 9.76003543e-02,
        2.14285714e-02, 1.00000000e+00, 9.76003543e-02, 1.00000000e+00,
        9.20952381e-01, 9.76003543e-02, 3.26789116e-01, 0.00000000e+00,
        0.00000000e+00, 9.42857143e-02, 2.60712443e-01, 9.76003543e-02,
        1.67318769e-01, 1.00000000e+00, 6.42857143e-01, 2.71171759e-01,
        0.00000000e+00, 2.71171759e-01, 9.37142857e-01, 1.00000000e+00,
        1.71428571e-02, 8.77238095e-01, 3.26789116e-01, 1.00000000e+00,
        9.78571429e-01, 9.76003543e-02, 9.76003543e-02, 8.65769309e-02,
        1.66666667e-02, 0.00000000e+00, 0.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 2.74823129e-01, 1.00000000e+00,
        0.00000000e+00, 6.79977448e-01, 1.46285714e-01, 1.17142857e-01,
        2.55014739e-01, 2.45714286e-01, 9.76003543e-02, 1.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 4.63822562e-01, 3.68571429e-01,
        1.67318769e-01, 6.21428571e-01, 0.00000000e+00, 9.13838852e-02,
        9.76003543e-02, 0.00000000e+00, 2.85714286e-03, 6.85833829e-01,
        4.63822562e-01, 0.00000000e+00, 1.71428571e-02, 1.20191404e-01,
        4.85714286e-01, 4.55714286e-01, 0.00000000e+00, 9.28571429e-03,
        9.76003543e-02, 9.17142857e-01, 3.14285714e-02, 8.03104515e-02,
        1.67318769e-01, 1.00000000e+00, 2.60712443e-01, 2.85714286e-03,
        6.85833829e-01, 0.00000000e+00, 4.63822562e-01, 0.00000000e+00,
        5.71428571e-03, 1.00000000e+00, 1.15047619e-01, 2.35414366e-01,
        1.00000000e+00, 3.86777145e-01, 9.76003543e-02, 3.75180375e-03,
        4.56630144e-02, 9.76003543e-02, 2.94095238e-01, 4.85714286e-01,
        7.58027211e-02, 3.26789116e-01, 7.80000000e-01, 3.86777145e-01,
        1.00000000e+00, 2.71171759e-01, 3.05714286e-01, 2.70638964e-01,
        9.88571429e-01, 0.00000000e+00, 4.63822562e-01, 7.87052154e-02,
        9.88571429e-01, 5.95918367e-02, 4.56630144e-02, 0.00000000e+00,
        9.76003543e-02, 6.79397761e-01, 2.71171759e-01, 7.70319728e-01,
        3.14285714e-01, 6.85833829e-01, 7.14285714e-04, 9.17390229e-02,
        4.34857143e-01, 4.84733251e-01, 1.00000000e+00, 1.18571429e-02,
        0.00000000e+00, 1.67318769e-01, 9.76003543e-02, 2.71171759e-01,
        2.71171759e-01, 1.00000000e+00, 6.79397761e-01, 1.69319728e-02,
        2.60712443e-01, 4.84733251e-01, 4.63822562e-01, 4.56630144e-02,
        1.00000000e+00, 1.14523810e-01, 2.85714286e-03, 1.65401361e-01,
        1.00000000e+00, 8.95952381e-01, 5.45778485e-01, 6.93085962e-02,
        9.85714286e-01, 4.04727891e-02, 7.77142857e-01, 9.76003543e-02,
        1.00000000e+00, 2.71171759e-01, 1.00000000e+00, 0.00000000e+00,
        8.16428571e-01, 6.52947846e-02, 1.00000000e+00, 1.71428571e-01,
        1.42857143e-03, 9.02081014e-02, 2.74399093e-02, 4.45714286e-01,
        4.23492063e-02, 1.00000000e+00, 0.00000000e+00, 9.85714286e-01,
        7.16102041e-01, 9.76003543e-02, 5.05714286e-01, 1.00000000e+00,
        1.40000000e-01, 1.00000000e+00, 0.00000000e+00, 1.34285714e-01,
        9.67619048e-01, 9.13838852e-02, 7.69639250e-02, 1.42857143e-02,
        2.14285714e-02, 9.91428571e-01, 0.00000000e+00, 9.88571429e-01,
        8.84624687e-01, 4.45714286e-01, 1.00000000e+00, 8.53318903e-03,
        2.71171759e-01, 4.15476190e-01, 9.85000000e-01, 9.74285714e-01,
        2.45714286e-01, 2.71171759e-01, 1.00000000e+00, 7.70319728e-01,
        5.93775819e-01, 4.84733251e-01, 0.00000000e+00, 1.00000000e+00,
        1.00000000e+00, 1.67318769e-01, 1.00000000e+00, 9.90000000e-01,
        1.00000000e+00, 4.28761905e-01, 1.00000000e+00, 9.76003543e-02,
        1.00000000e+00, 2.71171759e-01, 9.25714286e-01, 2.28571429e-02,
        4.28095238e-02, 2.28571429e-02, 6.28571429e-01]))

In [27]:
oh_X_final = pd.get_dummies(X[features])
oh_X_test = pd.get_dummies(X_test[features])

imp_new_X_final = pd.DataFrame(imputer.fit_transform(oh_X_final))
imp_new_X_test = pd.DataFrame(imputer.transform(oh_X_test))

imp_new_X_final.columns = oh_X_final.columns
imp_new_X_test.columns = oh_X_test.columns

In [28]:
model = RandomForestRegressor(n_estimators=350, random_state=1)

In [29]:
model.fit(imp_new_X_final, y)
predictions = model.predict(imp_new_X_test)

In [30]:
predictions = predictions.astype(int)

In [31]:
predictions = pd.Series(predictions, name='Survived')

In [32]:
type(predictions)

pandas.core.series.Series

In [33]:
predictions

0      0
1      0
2      0
3      0
4      0
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [34]:
submission = pd.DataFrame(data = {'PassengerId':X_test.PassengerId, 'Survived':predictions})

In [35]:
submission.to_csv('submission.csv',index=False)